body{
    display: flex;
    flex-direction: column;
    background-color: #1F4E79;
}

/* Style the navbar */
#navbar {
    display: flex;
    position: sticky;
    top: 0;
  
    background-color: #333;
    border-color: rgb(255,190,0,0.44)
}

/* Navbar links */
#navbar a {
  
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
} 
