body{
    display: flex;
    flex-direction: column;
    background-color: white
}

/* Style the navbar */
#navbar {
    display: flex;
    justify-content:space-around;
    position: sticky;
    padding: 14px;
    overflow: hidden;
    background-color: #333;
    text-decoration: none;
}



/* Page content */
.content {
  padding: 16px;
} 