body{
    display: flex;
    flex-direction: column;
    background-color: #0e1c2a;
    color: #adafca;
}

/* Style the navbar */
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    width:100vw;
    background-color: #1e3751;
    border-color: rgb(255,190,0,0.44);
}

/* Navbar links */
#navbar a {
  
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
} 

/* Mobile view: screens 600px wide or smaller */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
        text-align: center;
    }
}
